:root {
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);

  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);

  --clr-neutral-90: hsl(0, 0%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-900: hsl(0, 0%, 7%);

  --fs-400: 1.125rem;

  --fw-400: 400;
  --fw-500: 500;

  --ff-primary: "DM Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
  *::before,
  *::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2{
    color: var(--heading-color, inherit);
    font-size: var(--heading-font-size, 2.25rem);
    line-height: 1.1;
    text-wrap: balance;

    span{
        display: var(--heading-span-display, inline);
        color: var(--heading-span-color, var(--clr-neutral-900));
        font-size: var(--heading-span-font-size, inherit);
        font-style: var(--heading-span-style, normal);
    }
}


body{
    margin: 32px;
    font-family: var(--ff-primary);
    background: var(--clr-neutral-90);
    font-size: 1.25rem;

}

.bento-grid{
    display: grid;
    gap: 24px;
    max-inline-size: 1200px;
    margin-inline: auto;
    grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six'
        'seven'
        'eight';

    @media (width > 660px) {
      grid-template-areas:
        "one one"
        "two three"
        "four six"
        "four seven"
        "five eight"
      ;
    }
    
    @media (width > 960px){
        grid-template-areas: 
            "seven one one four"
            "seven two three four"
            "eight two three four"
            "eight six five five";
    }
}

.bento-grid>*{
    color: var(--bento-card-color, var(--clr-neutral-900));
    background-color: var(--bento-card-bg, var(--clr-neutral-100));
    padding: var(--bento-card-padding, 32px);
    border-radius: var(--bento-card-border-radius, 21px);

    overflow: clip;

    display: grid;
    gap: var(--bento-card-gap, 32px);
    align-content: var(--bento-card-vertical-alignment, start);
    align-items: var(--bento-card-vertical-alignment, start);
    justify-items: var(--bento-card-horizontal-alignment, start);
    text-align: var(--bento-card-horizontal-alignment, start);

}

.bento-grid img{
    max-width: var(--bento-card-img-width, 100%);
    width: var(--bento-card-img-width, 100%);
    order: var(--bento-card-img-order);
}

.bento-grid> :nth-child(1){
    --heading-font-size: 4rem;
    --heading-span-color: var(--clr-yellow-500);
    --bento-card-bg: var(--clr-purple-500);
    --bento-card-color: var(--clr-neutral-100);
    --bento-card-padding: 48px;
    --bento-card-horizontal-alignment: center;
    --bento-card-img-width: 70%;
    --bento-card-gap: 16px;

    @media (width > 960px) {
      --bento-card-img-width: 45%;
    }

    grid-area: one;
}

.bento-grid> :nth-child(2){
    --bento-card-img-order: -1;

    grid-area: two;

    @media( width > 960px){
        --bento-card-img-width: 150%;
    }
}

.bento-grid> :nth-child(3){
    --bento-card-bg: var(--clr-yellow-500);
    --bento-card-img-width: 75%;

    img{
        margin-bottom: -60px;

        @media( width > 960px){
        --bento-card-img-width: 100%;
        margin-bottom: -130px;
        }
    }

    grid-area: three;
}

.bento-grid> :nth-child(4){
    --bento-card-bg: var(--clr-purple-100);
    --bento-card-horizontal-alignment: center;

    grid-area: four;

    @media(width > 960px){
        --bento-card-img-width: 180%;
        --bento-card-horizontal-alignment: start;
        --bento-card-vertical-alignment: center;
    }
}
.bento-grid> :nth-child(5){
    --bento-card-img-order: -1;
    --bento-card-bg: var(--clr-purple-500);
    --bento-card-color: var(--clr-neutral-100);
    --bento-card-horizontal-alignment: center;
    --bento-card-img-width: 75%;

    grid-area: five;


    @media (width > 960px){
        --bento-card-gap: 16px;
        --bento-card-img-width: 100%;
        --bento-card-vertical-alignment: center;
        --bento-card-horizontal-alignment: start;
        grid-template-columns: 1fr 1fr;
    }
}
.bento-grid> :nth-child(6){
    --heading-font-size: 4rem;
    --heading-span-display: block;
    --heading-span-font-size: 1.25rem;
    --bento-card-img-width: 55%;

    grid-area: six;

    @media(width > 960px){
        --bento-card-img-width: 100%;
    }
}
.bento-grid> :nth-child(7){
    --bento-card-bg: var(--clr-yellow-100);
    --bento-card-img-width: 65%;

    --heading-span-color: var(--clr-purple-500);
    --heading-span-style: italic;

    @media(width > 960px){
        --bento-card-img-width: 100%;
        --bento-card-vertical-alignment: center;
    }

    grid-area: seven;
}
.bento-grid> :nth-child(8){
    --bento-card-bg: var(--clr-yellow-500);
    --bento-card-img: 50%;

    @media(width > 960px){
        --bento-card-img-width: 105%;
        --bento-card-vertical-alignment: center;
    }

    grid-area: eight;
}


